<!--index.html-->

{{ template "header.html" .}}

    <center>
      <h1>Asientos disponibles</h1>

      <br><br>
      
      <div class="container">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Categoría</th>
                  <th>Disponibilidad</th>
                  <th>Venue</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>            
                </tr>
              </tbody>
          </table>
      </div>
      
      <br><br>
    
      <input type="submit" name="" value="Comprar boleto" />
    </center>

    <br><br>
{{ template "footer.html" .}}